\
{
    padding: 0px;
    margin: 0px;
}
.navbar{
    background-color: black;
    opacity: 0.8;
}
.middle{
    margin-top: 70px;
    width: 100%;
   
}
.active{
    color: rgb(187, 179, 179);
   
  }
  .active:hover{
    color: white;
   
  }
  .nav_a{
    color: white;
    text-decoration: none;
  
  }
  .nav_a:hover{
    color: rgb(187, 179, 179);
    text-decoration: none;
  
  }
  
  .nav_art{
      color: black;
  }
  .nav_art:hover{
    color: black;
}
.nav-item{
    padding-left: 50px;

  }
  .toggle{
    color: white;
    padding-right: 30px;
  }
  .heading{
      padding-left: 20px;
      padding-top: 20px;
  }
  .article{
    padding-left: 20px;
    padding-right: 20px;
  }
  @media(min-width:500px){
  .article_img{
    width: 30%;
    height: 300px;
    margin-left: 33%;
   
  }
}
.ad_1{
  width: 100%;
}
.table{
  margin-left: 50px;
}